@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
}

.contain {
  max-width: 3000px;
  margin: auto;
}

header {
  position: relative;
  z-index: 4;
  background-image: url(../images/introbg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 100px 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 160px;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0);
}
.navbar__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 18px;
}
.navbar__right-top {
  padding: 5px;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}
.navbar__right-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar__right-bottom-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
.navbar__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.navbar__right-bottom-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #B6B6B6;
}
.navbar__burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  display: none;
}
.navbar__burger-items {
  width: 40px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

@media (max-width: 1200px) {
  .navbar {
    width: 90%;
    padding: 10px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navbar__right-top {
    display: none;
  }
  .navbar__list {
    display: none;
  }
  .navbar__right-bottom {
    width: 128px;
    flex-direction: column;
    gap: 10px;
  }
  .navbar__right-bottom svg {
    width: 18px;
  }
  .navbar__right-bottom-text {
    font-size: 10px;
  }
  .navbar__burger {
    display: flex;
  }
}
.intro {
  height: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 174px 160px;
  background-color: rgba(0, 0, 0, 0.774);
  gap: 20px;
  box-shadow: 0px 0px 60000px 300px rgba(0, 0, 0, 0.774);
}
.intro__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}
.intro__title span {
  color: #DBA833;
}
.intro__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #CECECE;
}
.intro__button {
  background-color: #DBA833;
  color: white;
  padding: 15px 60px;
  border-radius: 10px;
  border: 1px solid white;
  border: none;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
}
.intro__map {
  position: relative;
  bottom: 600px;
  right: 100px;
  z-index: -1;
}
.intro__bottom {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
}
.intro__bottom-title {
  text-align: center;
}

@media (max-width: 1200px) {
  .intro {
    width: 90%;
    padding: 50px 0px;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .intro__title {
    max-width: 500px;
    font-size: 32px;
    line-height: 100%;
  }
  .intro__map {
    display: none;
  }
  .intro__button {
    background-color: #DBA833;
    color: white;
    padding: 14px 39px;
    border-radius: 10px;
    border: 1px solid white;
    border: none;
  }
}
.products {
  padding: 10px 0px;
}
.products__wrapper {
  background-color: black;
}
.products__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #FFFFFF;
}
.products__text {
  text-align: start;
}
.products__top {
  background-image: url(../images/intro__top.png);
  background-position: bottom left;
}
.products__top-left {
  background-image: url(../images/intro_top_left.png);
  background-size: contain;
  height: 100%;
  width: 50%;
}
.products__top, .products__top-left, .products__bottom {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  margin-top: -10px;
}
.products__bottom {
  background-image: url(../images/intro_bottom.png);
  height: 540px;
}
.products__divs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 530px;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 97px 80px 97px 90px;
  background-color: rgba(44, 44, 44, 0.8);
  border-radius: 30px;
}
.products__divs-first {
  top: 0px;
  left: 50%;
  z-index: 4;
}
.products__divs-second {
  bottom: 0px;
  right: 0%;
}
.products__divs-third {
  top: 0px;
  left: 50%;
}
.products__top-left-second {
  display: none;
}

@media (max-width: 1200px) {
  .products__top-left {
    display: none;
  }
  .products__top, .products__bottom, .products__top-left-second {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: auto;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  .products__divs {
    position: static;
    width: 100%;
    padding: 30px 32px;
    align-items: center;
    text-align: center;
  }
  .products__title {
    font-size: 24px;
  }
  .products__text {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
}
.smart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 50px 30px;
}
.smart__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px 38px;
  border: 1px dashed #2D2D2D;
  border-radius: 30px;
  width: 100%;
}
.smart__title span {
  color: #DBA833;
}
.smart__text {
  color: #5B5B5B;
}
.smart__button {
  background-color: white;
  color: #DBA833;
  padding: 13px 110px;
  border-radius: 10px;
  border: 1px solid #DBA833;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  width: 70%;
}
.smart__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.smart span {
  color: #DBA833;
}
.smart__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
.smart__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
}
.smart__items-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.smart__items-text {
  width: 70%;
  max-width: 350px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #5B5B5B;
}

@media (max-width: 1200px) {
  .smart {
    width: 90%;
    padding: 0px;
  }
  .smart__card {
    width: 100%;
    gap: 0px;
  }
  .smart svg {
    display: none;
  }
  .smart img {
    width: 100%;
  }
  .smart__title {
    font-size: 32px;
    line-height: normal;
  }
  .smart__text {
    font-size: 20px;
  }
  .smart__button {
    padding: 14px 51px;
    font-size: 18px;
  }
  .smart__items-title {
    font-size: 20px;
    line-height: normal;
  }
  .smart__items-text {
    font-size: 16px;
    line-height: 140%;
  }
}
.quality {
  flex-direction: column;
  gap: 5px;
}
.quality__logos-div {
  overflow: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 1200px) {
  .quality {
    width: 90%;
  }
  .smart__title {
    width: 100%;
    font-size: 27px;
  }
}
.geography {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 23px;
  padding: 50px 160px;
  border-radius: 50%;
  background-color: #F8F8F8;
}
.geography__location {
  width: 80%;
  border-radius: 30px;
  border: 1px dashed #DBA833;
}

@media (max-width: 1200px) {
  .geography {
    position: relative;
    border-radius: 30px;
    width: 90%;
    padding: 50px 17px;
  }
}
.comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  background-color: #F8F8F8;
  padding: 25px 94px;
  border: 1px dashed #DBA833;
  border-radius: 30px;
}
.comments__wrapper {
  padding: 0px 160px;
}
.comments__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.comments__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  gap: 30px;
  border-radius: 30px;
  border: 1px solid;
  padding: 30px 40px 30px 90px;
  background-color: white;
}
.comments__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}
.comments__items-text {
  text-align: start;
}
.comments__items-top-text {
  /* Наведите, чтобы посмотреть письмо */
  position: absolute;
  width: 233px;
  left: -60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #B6B6B6;
  transform: rotate(-90deg);
}

@media (max-width: 1200px) {
  .comments {
    width: 90%;
    gap: 10px;
    padding: 15px 10px;
  }
  .comments__wrapper {
    padding: 0px;
  }
  .comments__card {
    width: 100%;
    flex-direction: row;
    overflow: auto;
    gap: 5px;
    padding: 0px 0px 20px 0px;
  }
  .comments__card img {
    display: none;
  }
  .comments__items-top-text {
    display: none;
  }
  .comments__items {
    min-width: 320px;
    padding: 20px 25px;
    align-items: center;
  }
  .comments__items-title {
    font-size: 20px;
    line-height: 100%;
    text-align: center;
  }
  .comments__items-text {
    font-size: 14px;
    text-align: center;
    line-height: 100%;
  }
}
.news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
  padding: 0px 160px;
}
.news__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 40px;
  width: 100%;
}
.news__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  flex-direction: column;
  gap: 20px;
  padding: 0px 0px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.news__items-top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-color: #F8F8F8;
  border-bottom: 1px solid black;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.news__items-title {
  width: 100%;
  height: 24px;
  padding: 0px 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.news__text {
  width: 100%;
  padding: 0px 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5B5B5B;
}
.news__button {
  background-color: white;
  color: #DBA833;
  padding: 10px 89px;
  border-radius: 10px;
  border: 1px solid #DBA833;
  font-family: "Inter";
  font-weight: 700;
}
.news__button:hover {
  opacity: 0.7;
}
.news__button:active {
  opacity: 1;
}
.news__bottom-button {
  background-color: white;
  color: #DBA833;
  padding: 13px 61px;
  border-radius: 10px;
  border: 1px solid #DBA833;
  margin-top: 10px;
  font-weight: 900;
  font-family: "Inter";
  border: 2px solid #DBA833;
}
.news__bottom-button:hover {
  opacity: 0.7;
}
.news__bottom-button:active {
  opacity: 1;
}

@media (max-width: 1200px) {
  .news {
    padding: 0px;
    width: 90%;
  }
  .news__items:nth-child(1) {
    display: none;
  }
  .news__items:nth-child(2) {
    display: none;
  }
  .news__bottom-button {
    width: 100%;
  }
  .news__items:nth-child(3) {
    width: 100%;
    max-width: none;
    align-items: center;
    text-align: center;
  }
  .news__button {
    width: 90%;
    padding: 10px;
  }
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 160px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.378);
}
.contact__wrapper {
  margin-top: 100px;
  background-image: url(../images/contactbg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__center-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.contact__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */
  color: #FFFFFF;
}
.contact__title span {
  color: #DBA833;
}
.contact__input {
  width: 400px;
  padding: 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.699);
  border-radius: 10px;
  color: white;
  font-family: "Inter";
  font-weight: 500;
}
.contact__input-button {
  background-color: white;
  color: #DBA833;
  padding: 8px 132px;
  border-radius: 10px;
  border: 1px solid #DBA833;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
}
.contact__input-button:hover {
  opacity: 0.8;
}
.contact__input-button:active {
  opacity: 1;
}
.contact__text {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: end;
  color: #FFFFFF;
}
.contact__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  justify-content: start;
  flex-wrap: wrap;
  align-items: start;
}

@media (max-width: 1200px) {
  .contact {
    padding: 90px 0px;
    width: 100%;
  }
  .contact__title {
    font-size: 27px;
  }
  .contact__input-button {
    width: 100%;
    padding: 8px 0px;
  }
  .contact__input {
    width: 100%;
  }
  .contact__form {
    width: 100%;
  }
  .contact__center-box {
    width: 90%;
  }
  .contact__text {
    text-align: start;
  }
}
.ourcomand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px 160px;
  gap: 20px;
}
.ourcomand__wrapper {
  background-color: rgb(30, 30, 30);
}
.ourcomand__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  justify-content: center;
}
.ourcomand__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.ourcomand__items-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #DBA833;
}
.ourcomand__items-top-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
.ourcomand__items-bottom-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #B9B9B9;
}

@media (max-width: 1200px) {
  .ourcomand {
    padding: 40px 0px;
    width: 90%;
  }
  .ourcomand__title {
    width: 100%;
    font-size: 27px;
  }
  .ourcomand__card {
    flex-wrap: wrap;
  }
  .ourcomand__card img {
    width: 100%;
  }
  .ourcomand__items-title {
    font-size: 20px;
  }
  .ourcomand__items-top-text {
    font-size: 14px;
  }
  .ourcomand__items-bottom-text {
    font-size: 14px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 160px;
  flex-direction: column;
  margin-top: -5px;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}
.footer__top-yellow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.footer__yellow-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #DBA833;
}
.footer__top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
.footer__top-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.footer__top-center-left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}
.footer__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #5B5B5B;
}
.footer__links:hover {
  text-decoration: underline;
}
.footer__top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px 13px;
  border-radius: 10px;
  border: 1px solid #5B5B5B;
  gap: 6px;
  background-color: white;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
  border-top: 1px dashed #5B5B5B;
}
.footer__bottom-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.footer__bottom-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.footer__icons-box {
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #DBA833;
}
.footer__icons-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 33px;
    width: 90%;
  }
  .footer__top {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer__top-right {
    width: 100%;
  }
  .footer__bottom {
    flex-wrap: wrap-reverse;
    gap: 20px;
    justify-content: center;
  }
  .footer__bottom-right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__bottom-left {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.intro {
  box-shadow: 0px 0px 500px 100px rgba(0, 0, 0, 0.623);
  background-color: rgba(0, 0, 0, 0.5098039216);
}
.intro__disel-wrapper {
  background-image: url(../images/diselbg-img.png);
}
.intro__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.intro__box-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242424;
  padding: 10px;
  border: 1px dashed #DBA833;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  color: #DBA833;
}

@media (max-width: 1200px) {
  .intro__box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro__box-items {
    text-align: center;
  }
}
.oil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 160px;
  flex-direction: column;
  gap: 30px;
}
.oil__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 58px 20px;
  border-radius: 30px;
  border: 1px dashed;
  background-color: rgb(255, 255, 255);
}
.oil__items-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.oil__items-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.oil__items-text {
  max-width: 50%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #5B5B5B;
}
.oil__items-button {
  background-color: white;
  color: #DBA833;
  padding: 13px 120px;
  border-radius: 10px;
  border: 1px solid #DBA833;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
}
.oil__items-button:hover {
  opacity: 0.7;
}
.oil__items-button:active {
  opacity: 1;
}

@media (max-width: 1200px) {
  .oil {
    padding: 40px 0px;
    width: 90%;
    justify-content: center;
  }
  .oil__items {
    flex-direction: column;
    justify-content: center;
  }
  .oil img {
    position: relative;
    left: 40px;
    width: 220px;
  }
  .oil__items-pechka {
    position: relative;
    left: 20px !important;
  }
  .oil__items-title {
    font-size: 24px;
  }
  .oil__items-text {
    font-size: 16px;
    line-height: 100%;
  }
  .oil__items-button {
    padding: 13px 0px;
    width: 70%;
  }
}
.intro-mini {
  gap: 15px;
  justify-content: center;
}
.intro-mini__wrapper {
  background-image: url(../images/minibg-img.png);
}

.smart__mini-card {
  gap: 20px;
}
.smart__mini-title {
  width: 80%;
  font-size: 24px;
}
.smart__button {
  padding: 10px 0px;
  width: 80%;
}
.smart__items-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.smart__items-box-text {
  padding: 10px 0px;
  border-bottom: 1px solid #E2E2E2;
}
.smart__items-box-text:nth-child(4) {
  border-bottom: none;
}

.why {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 120px 160px;
  gap: 30px;
}
.why__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 40px;
}
.why__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px dashed #DBA833;
  border-radius: 30px;
}
.why__yellow-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #DBA833;
}

@media (max-width: 1200px) {
  .why {
    width: 90%;
    padding: 70px 0px;
  }
  .why__card {
    flex-wrap: wrap;
  }
}
.example {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 160px;
  flex-direction: column;
  gap: 20px;
}
.example__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
.example__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  justify-content: center;
}
.example__img {
  height: 400px;
}
.example__img:nth-child(odd) {
  width: 70%;
  max-width: 710px;
}
.example__img-4 {
  max-width: 710px;
}

@media (max-width: 1200px) {
  .example {
    padding: 70px 0px;
    width: 90%;
  }
  .example__items {
    flex-wrap: wrap;
  }
  .example__img, .example__img-3, .example__img-4 {
    width: 233px !important;
    height: 213px;
    max-width: none;
  }
}
.minineft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  padding: 100px 160px;
  margin: auto;
  max-width: 3000px;
}
.minineft__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 40px;
  border: 1px dashed #DBA833;
  border-radius: 30px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #F8F8F8;
}

@media (max-width: 1200px) {
  .minineft {
    padding: 80px 0px;
    width: 90%;
  }
  .minineft__card {
    width: 100%;
    flex-wrap: nowrap;
    overflow: auto;
  }
}
.where {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 160px;
  gap: 20px;
}
.where__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.where__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.where__items img {
  width: 100%;
}
.where__items-box {
  position: absolute;
  bottom: 2%;
  width: 60%;
  max-width: 270px;
  padding: 20px 10px;
  background-color: white;
  border: 1px solid #DBA833;
}

@media (max-width: 1200px) {
  .where {
    padding: 70px 0px;
    width: 90%;
    margin: auto;
  }
  .where__items-box-text {
    font-size: 100%;
    line-height: 100%;
  }
  .where__card {
    flex-direction: column;
  }
  .where__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }
  .where__items-box-left, .where__items-box-right {
    left: 27%;
  }
  .where__items-box-center {
    left: 20%;
  }
}/*# sourceMappingURL=style.css.map */