.smart {
  @include display();
  gap: 100px;
  padding: 50px 30px;

  &__center {
    @include display();
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 38px;
    border: 1px dashed #2D2D2D;
    border-radius: 30px;
    width: 100%;

  }

  &__title span {
    color: #DBA833;
  }

  &__text {
    color: #5B5B5B;
  }

  &__button {
    @include button(white, #DBA833, 122px, 13px);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
  }

  &__title {

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    /* identical to box height */
    text-align: center;

    color: #000000;

    

  }
  & span {
      color:#DBA833;
  }

  &__card {
    @include display();
    justify-content: center;
    flex-wrap: wrap;
  }

  &__items {
    @include display();
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
  }

  &__items-title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;

    color: #000000;


  }

  &__items-text {
    width: 70%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;

    color: #5B5B5B;


  }




}

@media (max-width: 1200px) {
  .smart {
    width: 90%;
    padding: 0px;
    &__card {
      width: 100%;
      gap: 0px;
    }

    & svg {
      display: none;
    }

    & img {
      width: 100%;
    }

    &__title {
      font-size: 32px;
      line-height: normal;
    }

    &__text {
      font-size: 20px;
    }

    &__button {
      padding: 14px 51px;
      font-size: 18px;
    }

    &__items-title {
      font-size: 20px;
      line-height: normal;
    }

    &__items-text {
      font-size: 16px;
      line-height: 140%;
    }

  }
}