.minineft {
  @include display();
  flex-direction: column;
  gap: 20px;
  padding: 100px 160px;
  margin: auto;
  max-width: 3000px;

  &__card {
    @include display();    
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 40px;
    border: 1px dashed #DBA833;
    border-radius: 30px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #F8F8F8;
  }
}

@media (max-width: 1200px) {
  .minineft {
    padding: 80px 0px;
    width: 90%;

    &__card {
      width: 100%;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }
}