.contactour {
  @include display();
  justify-content: center;
  background-color: #F8F8F8;
  border-radius: 50%;
  padding: 60px 160px;

  &__box {
    @include display();
    gap: 50px;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    padding: 57px 100px;
    border: 1px dashed #DBA833;
  }

  &__title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: #0e0e0e;


    & span {
      color: #DBA833;
    }
  }

  &__left {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: #F8F8F8;
    border: 2px solid #B6B6B6;
    padding: 23px 40px;
    border-radius: 30px
  }

  &__top {
    @include display();
    gap: 10px;
  }

  & input {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Inter";
    color: #5B5B5B;
  }

  &__submit {
    @include button(white, #DBA833 !important, 0px, 10px) ;
    border: 2px solid #DBA833 !important;
    
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }
  }
  
  &__right {
    @include display();
    flex-direction: column;
    align-items: start;
  }

  &__right-text {
    padding: 15px 0px;
    width: 100%;
    border-bottom: 1px solid #B6B6B6;
    font-family: "Inter";
    font-size: 16px;
    color: #5B5B5B;
  }
}

@media (max-width: 1200px) {
  .contactour {
    padding: 40px 0px;
    width: 90%;

    &__box {
      padding: 20px 10px;
    }

    &__left {
      padding: 20px 10px;
    }
  }
}